@import "../../node_modules/normalize.css/normalize";

$primary-background-color: #f6f6f6;
$title-color: #0c3755;
$team-orange: #ff5a00;
$btn-primary-color: #074792;
$btn-secondary-color: #23415f;
$subtitle-color: #0070C0;

* {
  box-sizing: border-box;
}

body {
  background: $primary-background-color;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.team_color {
  color: $team-orange;
}

.catalog {
  max-width: 1170px;
  margin: 5px auto 0;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(black, .3);
}

.catalog__title {
  font-size: 24px;
  color: $title-color;
  float: left;
  font-weight: normal;
}

.catalog__links {
  padding-left: 25px;
  border-left: 1px solid #999999;
  float: right;
  margin-top: 16px;
}

.catalog__link {
  display: block;
  white-space: nowrap;
  transition: color .3s ease;
}

.catalog__link:hover {
  color: $team-orange;
}

.catalog__link_mini-bold {
  color: $title-color;
  font-size: 12px;
  font-weight: bold;
}

.catalog__cards {
  text-align: center;
}

.catalog__card {
  display: inline-block;
  text-align: center;
  margin: 20px 5px;
  width: calc(25% - 15px);
  font-size: 14px;
}

.catalog__image {
  margin: 0;
  display: block;
}

.catalog__list {
  display: inline-block;
  list-style-type: square;
  font-size: 12px;
  padding-left: 14px;
  text-align: left;
  white-space: nowrap;
}

.catalog__list-item {
  padding-bottom: 3px;
}

.catalog__button {
  display: inline-block;
  border: 1px solid $btn-primary-color;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}

.catalog__button-title {
  display: inline-block;
  color: #ffffff;
  background: $btn-primary-color;
  padding: 8px 16px;
  transition: background .3s ease;
}

.catalog__button-text {
  display: inline-block;
  color: $btn-primary-color;
  padding: 8px;
}

.catalog__button:hover {
  border: 1px solid $btn-secondary-color;
}

.catalog__button:hover .catalog__button-title {
  background: $btn-secondary-color;
}

.catalog__texts {
  font-size: 12px;
}

.catalog__subtitle {
  font-size: 16px;
  color: $subtitle-color;
}

.catalog__texts-description {
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
  vertical-align: top;
}

.catalog__texts-list {
  list-style-type: none;
  padding: 0;
}

.team-blue {
  color: $subtitle-color;
}

.catalog__links-list {
  padding-left: 14px;
  list-style: square;
}

.catalog__links-list-item {
  padding-bottom: 3px;
  transition: color .3s ease;
}

.catalog__links-list-item:hover,
.catalog__links-list-item > a:hover {
  color: $team-orange;
}

@media screen and (max-width: 900px) {
  .catalog__card {
    width: calc(33.3333% - 13px);
  }
}

@media screen and (max-width: 700px) {
  .catalog {
    padding: 10px;
  }

  .catalog__links {
    float: left;
    border-left: none;
    border-top: 1px solid #999999;
    padding-left: 0;
    padding-top: 15px;
    margin-top: 0;
  }

  .catalog__link_mini-bold {
    display: inline-block;
    margin-right: 10px;
  }

  .catalog__card {
    width: calc(50% - 13px);
  }
}

@media screen and (max-width: 400px) {
  .catalog__card {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .catalog__link,
  .catalog__list {
    white-space: normal;
  }

  .catalog__button-title {
    display: block;
  }

  .catalog__texts-description {
    margin-right: 0;
  }
}